<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beanstream.payform">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayForm">
        <activity android:name=".activities.PayFormActivity" />
        <activity android:name=".activities.ProcessingActivity"></activity>

        <service
            android:name=".services.TokenService"
            android:exported="false"/>
    </application>

</manifest>